.intro-image-desc {
  z-index: 1;
}

.banner-link {
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.75;
  min-width: 64px;
  padding: 6px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 0px;
  /* font-family: "Reforma_1969", "AXtManalBold Regular", "Helvetica", "Arial",
    "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", "sans-serif"; */
  border: 1px solid transparent;
  font-size: 1.4rem;
  background-color: transparent;
  color: white;
}

.banner-link .fac-icon {
  margin-right: 5px;
}

.banner-link:active {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
