/* ///////////////////////////////////////////// ExpFilterNav ///////////////////////////////////////////// */

.filter-nav-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.filter-nav-container {
  max-width: 1500px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 960px) {
  .filter-nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.filter-left {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
@media (min-width: 960px) {
  .filter-left {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
}

.filter-nav-select {
  margin: 5px;
}

.filter-nav-select > input[type="checkbox"] {
  display: none;
}
.filter-nav-btn {
  display: inline-flex;
  justify-content: center;
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid black;
  margin: 0px 10px;
  align-items: center;
}

.filter-nav-select > input[type="checkbox"]:checked ~ .filter-nav-btn {
  background-color: #000;
  color: #fff;
}

.filter-nav-select > input[type="checkbox"]:checked ~ .filter-nav-btn::after {
  content: " \2573";
  font-size: 10px;
}

.exp-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0px;
}

.exp-cards-container {
  display: flex;
  justify-content: start;
  background-color: #fff;
  padding: 0px 20px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

/* ///////////////////////////////////////////// ExperienceCard ///////////////////////////////////////////// */

.exp-card-title {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-bottom: 30px;
  margin-top: 35px;
  font-weight: normal;
}

.exp-card-container {
  max-width: 432px;
  background-color: #fff;
  padding-top: 30px;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 960px) {
  .exp-card-container {
    padding-left: 30px;
    flex-basis: 45%;
    max-width: 45%;
    flex-grow: 0;
  }
}

@media (min-width: 1280px) {
  .exp-card-container {
    padding-left: 30px;
    flex-basis: 30%;
    max-width: 30%;
    flex-grow: 0;
  }
}

.exp-swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 510px;
  margin-bottom: 25px;
}

.exp-card-image-container {
  width: 100%;
  height: 510px;
  margin-bottom: 25px;
}

.exp-card-image-container > .swiper {
  height: 100%;
}

.exp-card-image-container .swiper-button-prev,
.exp-card-image-container .swiper-button-next {
  background-color: transparent;
  color: white;
  border-radius: 16px;
  width: auto;
  height: auto;
  margin: auto;
  border: 0px;
  padding: 0;
  width: 32px;
  transform: rotate(-90deg);
  border: 1px solid white;
  border-radius: 16px;
}

.exp-card-image-container .swiper-button-prev {
  transform: rotate(90deg);
}

.exp-card-image-container .swiper-button-prev:hover,
.exp-card-image-container .swiper-button-next:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.exp-card-bottom {
  /* min-height: 235px;
  max-height: 235px; */
  position: relative;
}

@media (min-width: 1280px) {
  .exp-card-bottom {
    min-height: 235px;
    max-height: 235px;
  }
}

.exp-btn-area {
  bottom: 0;
  width: 100%;
}

@media (min-width: 1280px) {
  .exp-btn-area {
    position: absolute;
  }
}

.slide-image {
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.exp-btn {
  width: 100%;
}

/* .exp-swiper > .swiper-button-prev {
  filter: invert(1);
}

.exp-swiper > .swiper-button-next {
  filter: invert(1);
} */
