/* ///////////////////////////////////////////// RoomCards ///////////////////////////////////////////// */

.room-cards-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.room-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 15px 0px;
}

/* ///////////////////////////////////////////// IconEntry ///////////////////////////////////////////// */

.icon-entry {
  display: flex;
  align-items: center;
}

/* ///////////////////////////////////////////// AccomCardSmall ///////////////////////////////////////////// */

.accom-s-card-container {
  width: 325px;
  background-color: #fff;
  min-height: 650px;
  position: relative;
}

.accom-s-card-image {
  width: 100%;
}

.accom-s-card-bottom {
  padding: 15px;
}

.room-basics {
  display: flex;
  flex-direction: column;
}

.accom-card-title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: capitalize;
  font-weight: 100;
  margin: 15px 0px;
}

/* ///////////////////////////////////////////// AccomCardBig ///////////////////////////////////////////// */

.accom-button-area {
  position: absolute;
  bottom: 12px;
  right: 15px;
  left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.accom-btn {
  margin-top: 10px;
  width: 100%;
}

.accom-b-card-container {
  width: 325px;
  background-color: #fff;
  min-height: 650px;
  position: relative;
}

@media (min-width: 740px) {
  .accom-b-card-container {
    width: 441px;
    background-color: #fff;
    min-height: 680px;
    position: relative;
  }
}

.accom-b-card-image {
  width: 100%;
}

.accom-b-card-bottom {
  padding: 15px;
}

/* ///////////////////////////////////////////// PolicydropDown ///////////////////////////////////////////// */

.policies-wrapper {
  margin: 0 auto;
  max-width: 1380px;
  padding-top: 15px;
  padding-bottom: 40px;
}

.policies-container {
  margin-bottom: 15px;
}

.policy-title {
  position: relative;
  padding: 30px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  background-color: #fff;
  margin: 0px;
  font-family: "Reforma_1969", "AXtManalBold Regular", "Helvetica", "Arial",
    "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", "sans-serif";
}

.policy-title::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 20px;
  transform: translateY(-50%);
}

.policy-details {
  position: relative;
  height: 0;
  font-size: 15px;
  text-align: justify;
  overflow: hidden;
  transition: 0.3s;
  padding: 0px 30px;
  background-color: #fff;
}

.policy.open .policy-details {
  height: 10rem;
}

.policy.open .policy-title::before {
  content: "-";
  font-size: 30px;
}
