.conditions-wrapper {
  margin: 0 auto;
  background-color: #e7e6e2;
  display: flex;
  justify-content: center;
}

.condition-container {
  padding: 25px;
  background-color: #fff;
  max-width: 1400px;
}
