.reservation-wrapper {
  background-color: #fff;
  font-family: "Niramit Regular", "AXtManalBold Regular", "Helvetica", "Arial",
    "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", "sans-serif";
}

.reservation-nav-bar-wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 1260px;
}

.avail-cards-container {
  margin: 15px auto;
  max-width: 1260px;
}

.avail-results-container {
  display: flex;
}

.results-left {
  width: 70%;
}

.results-right {
  width: 30%;
}
