.feature-card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0;
}

@media (min-width: 960px) {
  .feature-card-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 18px 30px;
  }
}

.card-frame {
  /* display: flex; */
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 960px) {
  #silder_2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.non-silder.card-frame {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 960px) {
  .non-silder.card-frame {
    flex-direction: initial;
  }
}

@media (min-width: 960px) {
  .card-frame {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 960px) {
  .feature-card-wrapper:nth-child(odd) > .card-frame {
    flex-direction: row-reverse;
  }
}

.card-left {
  display: flex;
  flex-direction: column;
  padding: 18px 18px;
  padding-bottom: 22.5px;
}

#silder_1 .card-left {
  padding-top: 0;
}

@media (min-width: 960px) {
  .card-left {
    width: 35%;
    padding-top: 30px;
    padding-right: 25px;
  }
}

@media (min-width: 1280px) {
  .card-left {
    padding-right: 70px;
  }
}

@media (min-width: 960px) {
  .feature-card-wrapper:nth-child(odd) > .card-frame > .card-left {
    padding-right: 0;
    padding-left: 75px;
  }
}

@media (min-width: 1028px) {
  .card-left .card-title {
    width: calc(100% + 20px);
  }
}

.card-left h2 {
  margin: auto;
  font-size: 1.6rem;
  letter-spacing: 5px;
}

@media (min-width: 1280px) {
  .card-left h2 {
    font-size: 2rem;
  }
}

.card-p {
  margin-top: 25px;
}

@media (min-width: 1280px) {
  .card-p {
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 0;
  }
}

.card-p p {
  font-size: 15px;
  line-height: 1.4;
}

.card-p a {
  width: 100%;
  display: flex;
  background-color: #baa382;
  margin-top: 25px;
  text-decoration: none;
}

@media (min-width: 960px) {
  .card-p a {
    display: inline-flex;
    width: auto;
    margin-top: 45px;
  }
}

.card-left span,
.booth-left span {
  display: inline-flex;
  /* margin-top: 25px; */
  background-color: #baa382;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  /* padding: 10px 50px; */
  line-height: 1.4;
  padding: 10px 0;
  margin: auto;
}

@media (min-width: 960px) {
  .card-left span,
  .booth-left span {
    padding: 10px 50px;
    /* margin-top: 45px; */

    /* background-color: #baa382;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 50px; */
  }
}

.card-right {
  position: relative;
  width: 100%;
  overflow: hidden;
  inset: 0px;
  height: 300px;
}

@media (min-width: 960px) {
  .card-right {
    width: 65%;
    height: auto;
    min-height: 100%;
    max-height: 100%;
  }
}

@media (min-width: 1280px) {
  .card-right {
    width: 65%;
    height: auto;
    min-height: 450px;
    max-height: 590px;
  }
}

.card-right img {
  position: absolute;
  inset: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

/* .card-right > .non-slider {
  max-height: 550px;
} */

/* .desc-banner-wrapper {
  background-color: #e7e6e2;
  padding: 50px 0px;
  margin: 0px auto;
}
@media (min-width: 960px) {
  .desc-banner-wrapper {
    padding: 50px 80px;
  }
}

.banner-container {
  display: flex;
  flex-direction: column-reverse;
  max-width: 1330px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .banner-container {
    flex-direction: row;
  }
} */

.silder-container {
  display: flex;
  min-height: 490px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: auto;
}

.comparison-slider-wrapper {
  /* position: relative; */
  width: 100%;
  height: 100%;
  background-color: white;
}

.comparison-slider {
  position: absolute;
  inset: 0px;
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.resize-frame {
  position: absolute;
  min-height: 100%;
  width: 807px;
  object-fit: cover;
  overflow: hidden;
}

.comparison-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.comparison-slider .resize img {
  position: absolute;
  margin: auto;
  display: block;
  object-fit: cover;
  inset: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
}

.divider {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.2);
  left: 70%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
  z-index: 1;
}

.divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -7px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}

.divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -3px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}

.divider.draggable:before {
  width: 30px;
  height: 30px;
  left: -12px;
  margin-top: -15px;
}

.divider.draggable:after {
  width: 20px;
  height: 20px;
  left: -7px;
  margin-top: -10px;
  background-color: #555;
}
