.photo-booth-wrapper {
  min-width: 100%;
  margin: auto;
  margin-bottom: 60px;
  padding: 18px 0;
}

@media (min-width: 960px) {
  .photo-booth-wrapper {
    margin-top: 60px;
  }
}

.booth-frame {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media (min-width: 960px) {
  .booth-frame {
    flex-direction: row;
  }
}

.booth-left {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 22.5px;
}

@media (min-width: 960px) {
  .booth-left {
    max-width: 50%;
    padding-top: 49px;
  }
}

.left-content {
  display: inline-flex;
  flex-direction: column;
  margin: 18px;
}

@media (min-width: 960px) {
  .left-content {
    flex-wrap: wrap;
    /* align-content: end;
    margin-right: 300px; */
    margin-left: 15%;
    margin-right: auto;
  }
}

.booth-left h2 {
  margin: auto;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.booth-p {
  margin-top: 32.8125px;
}

@media (min-width: 960px) {
  .booth-p {
    padding-left: 45px;
  }
}

.booth-p p {
  font-size: 15px;
  line-height: 1.4;
}

.booth-p a {
  display: flex;
  width: 100%;
  margin-top: 25px;
  text-decoration: none;
}

@media (max-width: 959px) {
  .booth-p a {
    border: 1px solid #baa382;
  }
}

@media (min-width: 960px) {
  .booth-p a {
    display: inline-flex;
    width: auto;
  }
}

.photo-booth-wrapper .booth-left .booth-btn {
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}

@media (min-width: 960px) {
  .photo-booth-wrapper .booth-left .booth-btn {
    border: 1px solid #baa382;
    background-color: transparent;
  }
}

.booth-right {
  position: relative;
  min-width: 50%;
  overflow: hidden;
  inset: 0px;
  min-height: 100%;
  padding-right: 18px;
}

@media (min-width: 960px) {
  .booth-right {
    max-width: 50%;
  }
}

.simplebar-content-wrapper {
  height: 100% !important;
}

.simplebar-scrollable-y {
  max-width: 100% !important;
}

/* .simplebar-vertical > .simplebar-scrollbar:before {
  opacity: 1;
  top: 3px;
  bottom: 3px;
  left: -9px;
  width: 20px;
  height: 20px;
  border-radius: 0;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
} */

.simplebar-vertical > .simplebar-scrollbar {
  max-height: 50px;
}

.simplebar-vertical > .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
  background-color: #555;
  overflow: visible;
}

.simplebar-track.simplebar-vertical {
  /* height: 186.5%; */
  left: 1px;
  overflow: visible;
  background-color: rgb(186, 163, 130);
  max-width: 2px;
  margin-left: 5px;
}

@media (min-width: 1280px) {
  .simplebar-track.simplebar-vertical {
    margin-left: 0;
  }
}

.muti-col-frame {
  display: inline-flex;
  max-height: 500px;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: -13px;
}

@media (min-width: 1280px) {
  .muti-col-frame {
    /* min-width: 810px; */
    /* flex-wrap: nowrap; */
    padding-left: 15px;
    margin-top: 0;
    /* overflow: unset; */
  }
}

.frame-col {
  position: relative;

  max-width: 100%;
}

@media (min-width: 400px) {
  .frame-col {
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .frame-col {
    margin-top: -20px;
  }
}

.photo-box {
  padding-top: 13px;
  padding-left: 18px;
}

@media (min-width: 1280px) {
  .photo-box {
    max-width: 240px;
    max-height: 160px;
    padding-top: 20px;
  }
}

.photo-box img {
  max-width: 100%;
  inset: 0;
  overflow: hidden;
  object-fit: cover;
}
