.intro-wrapper {
  background-color: #e7e6e2;
  padding: 3rem 0rem;
}

.intro-desc {
  text-align: center;
  padding: 0px 30px;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .intro-desc {
    padding: 0px 2rem;
    max-width: 960px;
  }
}

.intro-title {
  letter-spacing: 5px;
  line-height: 1.4;
  font-size: 1.6rem;
}

@media (min-width: 1280px) {
  .intro-title {
    line-height: 1.7;
    font-size: 2.6rem;
  }
}

.intro-desc-para {
  font-size: 15px;
}
