/* ///////////////////////////////////////////// Header ///////////////////////////////////////////// */

.nav-bar-top ul li > a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
  padding: 1.7rem 1.9rem;
}

.nav-bar-top ul li > a:hover {
  color: #baa382;
}

.nav-bar-top ul #logo-frame > a {
  padding: 0;
}

.nav-bar-top ul li > h2 {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
  letter-spacing: 5px;
}

.header-wrap {
  position: relative;
}

.header-nav-top {
  z-index: 2;
  position: relative;
  /* top: 0;
  left: 0;
  right: 0; */
  /* width: 100%; */
  height: 47px;
  background-color: white;
}

@media (min-width: 1280px) {
  .header-nav-top {
    height: 71.25px;
  }
}

.header-nav-top-m {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  height: 47px;
  overflow: visible;
}

.header-nav-top .MuiGrid-container {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  height: 47px;
  position: fixed;
  width: 100%;
  background: white;
}

.header-nav-top .MuiGrid-container .MuiGrid-item {
  padding-left: 0;
  padding-top: 0;
}

@media (min-width: 1280px) {
  .nav-bar-top-m {
    display: none;
  }
}

.navBar-frame {
  width: 100%;
  background-color: white;
  position: fixed;
}

.nav-m-l {
  height: 100%;
}

.nav-m-l button {
  height: 100%;
  border-radius: 0;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-m-mid {
  height: 100%;
  margin: auto;
  display: inline-flex;
}

.nav-m-mid button {
  margin: 0 auto;
  height: 100%;
  border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-m-mid button span {
  margin: auto;
  width: 41px;
  height: 41px;
}

.nav-m-mid img {
  width: 41px;
  height: 41px;
}

.nav-m-r {
  display: flex;
  justify-content: end;
}

.nav-m-r button {
  border-radius: 0;
  background-color: #baa382;
  padding-left: 75px;
  padding-right: 75px;
}

@media (max-width: 600px) {
  .nav-m-r button {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.nav-m-r button:hover {
  background-color: none;
}

.nav-m-r a {
  display: inline-flex;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

/* .nav-m-r span {
  color: white;
  letter-spacing: 1px;
} */

.nav-sidebar-container {
  position: fixed;
  width: 100%;
  background-color: #e7e6e2;
  margin-left: 0;
  height: calc(100% - 47px);
  z-index: 2;
  left: -100%;
  transition: 0.3s;
}

@media (min-width: 600px) {
  .nav-sidebar-container {
    max-width: 400px;
  }
}

.nav-sidebar-container.showSidebar {
  left: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-sidebar-container li {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10.625px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 22.5px;
  margin-right: 22.5px;
  padding: 0;
  min-height: auto;
}

.nav-sidebar-container .lang-select {
  margin-bottom: 0;
}

.nav-sidebar-container .lang-select button {
  color: black;
  border-radius: 0;
}

.nav-sidebar-container .lang-select button:hover {
  color: #baa382;
}

.nav-sidebar-container .lang-button span {
  padding-right: 12px;
  display: flex;
  justify-content: center;
}

.nav-sidebar-container a {
  font-size: 0.8rem;
  text-align: left;
  padding: 8.5px 7.5px;
}

.nav-bar-top {
  /* width: 100%; */
  /* margin: auto;
  position: fixed;
  background-color: white;
  height: 71.25px; */
  height: 100%;
  height: 71.25px;
}

@media (max-width: 1280px) {
  .nav-bar-top {
    display: none;
  }
}

.nav-bar-top ul {
  width: 100%;
  height: 100%;
  max-width: 1455px;
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-bar-top li {
  padding: 0.7rem 1.9rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 0;
}

#logo-frame {
  margin-right: auto;
  padding: 0.7rem 1.7rem;
}

.tree-logo {
  width: 2.2rem;
  margin-left: 10px;
  margin-right: 10px;
}

.arrow-icon {
  display: flex;
}

.nav-bar-top .arrow-icon span {
  display: flex;
  width: auto;
  /* margin-left: 8px; */
  color: black;
}

.nav-bar-top .lang-button button,
.nav-bar-top .more-button button {
  border-radius: 0;
  height: 100%;
  direction: rtl;
  color: black;
  padding: 10.5px 28.5px;
}

.menu-item-link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 13px 28px;
  font-size: 0.875rem;
}

.nav-bar-top .more-button button[aria-expanded="true"],
.nav-bar-top .lang-button button[aria-expanded="true"],
.nav-bar-top .lang-button button:hover,
.nav-bar-top .more-button button:hover,
.menu-item-link:hover {
  color: #baa382;
}

.nav-bar-top .lang-button button .navbar-arrow,
.nav-bar-top .more-button button .navbar-arrow {
  display: flex;
  margin: auto;
  margin-left: 8px;
}

.nav-bar-top .more-button button[aria-expanded="true"] .navbar-arrow,
.nav-bar-top .lang-button button[aria-expanded="true"] .navbar-arrow {
  transform: rotate(-180deg);
}

#bookNowButton {
  background-color: #baa382;
  color: white;
}

#bookNowButton > a {
  color: white;
}

.heroView {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 300px;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 960px) {
  .heroView {
    min-height: 400px;
    height: calc(100vh - 47px);
  }
}

@media (min-width: 1280px) {
  .heroView {
    height: calc(100vh - 130px);
  }
}

.heroFrame {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: brightness(90%);
  /* min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%; */
}

.heroFrame img {
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  z-index: 1;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  transform: translateY(0px);
}

.darkfilter.heroFrame {
  background-color: rgb(2, 55, 38);
}

img.darkfilter {
  opacity: 0.9;
}

.heroText {
  z-index: 1;
  text-align: center;
}

.heroText h1,
.heroText p {
  margin: 0 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
}

@media (min-width: 960px) {
  .heroText h1,
  .heroText p {
    font-size: 3rem;
  }
}

.heroText p {
  margin-top: 30px;
  font-size: 1.3333rem;
  letter-spacing: normal;
}

.header-nav-bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: none;
}

@media (min-width: 960px) {
  .header-nav-bottom {
    display: block;
  }
}

.nav-bar-bottom {
  margin: auto;
  padding: 0 20px;
  max-width: 1455px;
}

.header-nav-bottom ul {
  display: flex;
  margin: auto;
  list-style: none;
  color: white;
}

.header-nav-bottom li {
  margin: 0.7rem 0rem;
  font-size: 0.9rem;
  padding: 0;
}

.header-nav-bottom li span {
  display: flex;
  height: 100%;
  font-family: "Niramit ExtraLight Regular", "AXtManalBold Regular", "Helvetica",
    "Arial", "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", "sans-serif";
  text-transform: capitalize;
  font-size: 1rem;
}

.nav-bar-bottom .arrow-icon span {
  display: flex;
  width: auto;
  margin-left: 5px;
  width: 15px;
  margin: 0 0.5rem;
  color: white;
  transform: rotate(-90deg);
}
