.info-section-wrapper {
  background-color: white;
  width: 100%;
}

.info-background {
  background-color: white;
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
  margin-bottom: 25px;
}

@media (min-width: 960px) {
  .info-background {
    padding: 0 30px;
    margin-bottom: 60px;
  }
}

.info-background h6 {
  font-weight: 100;
}

.info-first-row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .info-first-row {
    flex-wrap: nowrap;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: auto;
  }
}

.fac-icon {
  width: 30px;
  height: 30px;
}

.reverse-icon-x {
  transform: rotate(180deg);
}
.reverse-icon-color {
  filter: invert(1);
}

.travel-rating {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 220px;
  flex-grow: 1;
  width: 100%;
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
}

@media (min-width: 960px) {
  .travel-rating {
    padding: 0px 30px;
    padding-left: 0;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
    max-width: 50%;
  }
}

.travel-rating a {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: black;
}

.trip-advisor {
  width: 160px;
  height: 100%;
}

.address-col {
  min-width: 150px;
  flex-grow: 1;
  width: 100%;
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
}
@media (min-width: 960px) {
  .address-col {
    padding: 0px 30px;
    padding-right: 0;
    border-bottom: none;
    width: initial;
    max-width: 200px;
  }
}
.address {
  white-space: pre-wrap;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.address-btn {
  font-family: "Niramit ExtraLight Regular", "AXtManalBold Regular", "Helvetica",
    "Arial", "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", "sans-serif";
  padding: 6px 8px;
  padding-left: 0;
  border: none;
  text-transform: none;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid #baa382;
}

.extra-details-col {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  flex-grow: 1;
  width: 100%;
  padding: 30px 15px;
  padding-top: 44px;
  border-bottom: 1px solid #e7e6e2;
}

@media (min-width: 960px) {
  .extra-details-col {
    padding: 0px 30px;
    padding-top: 44.214px;
    padding-left: 0;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
  }
}

.extra-details-col .icon-frame,
.fac-container .icon-frame {
  display: flex;
}

.extra-details-col .text-box,
.fac-container .text-box {
  margin: auto;
  margin-left: 5px;
}

.extra-details {
  display: flex;
  margin-bottom: 10px;
}

.extra-details-col .clock {
  margin: auto 0;
}

.time {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.fac-container {
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
  min-width: 265px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .fac-container {
    padding: 0px 30px;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
  }
}

.facilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fac-info-container {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  margin-top: 9px;
}

.facilities .fac-info-container:nth-child(1),
.facilities .fac-info-container:nth-child(2) {
  margin-top: 0;
}

.social-col {
  display: flex;
  padding: 30px 20px;
  justify-content: center;
  /* padding-right: 0; */
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 960px) {
  .social-col {
    display: flex;
    /* padding-left: 0; */
    /* padding: 30px 20px; */
    justify-content: start;
    padding-right: 0;
    flex-direction: column;
    width: auto;
  }
}

@media (min-width: 1400px) {
  .social-col {
    padding-right: 0;
    padding-left: 0;
  }
}

.social-col .facebook {
  margin-right: 20px;
}

@media (min-width: 960px) {
  .social-col .facebook,
  .social-col .instagram {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-col span {
  display: flex;
}

.info-second-row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .info-second-row {
    flex-wrap: nowrap;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: auto;
  }
}

.award-col,
.press-col {
  padding: 30px 0;
  border-bottom: 1px solid #e7e6e2;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 400px) {
  .award-col,
  .press-col {
    padding: 30px 15px;
  }
}

@media (min-width: 960px) {
  .award-col,
  .press-col {
    padding-top: 0;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    max-width: 50%;
  }
}

.award-container,
.press-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.award-list,
.press {
  min-width: 95px;
  max-width: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 620px) {
  .award-list,
  .press {
    max-width: 180px;
  }
}

@media (min-width: 960px) {
  .award-list,
  .press {
    margin-left: 0;
    margin-right: 0;
    margin-right: 15px;
  }
}

@media (min-width: 1280px) {
  .award-list,
  .press {
    width: 180px;
  }
}

@media (min-width: 960px) {
  .award-container .award-list:nth-child(3),
  .press-list .press:nth-child(3) {
    margin-right: 0;
  }
}

.award-image {
  max-width: 100%;
  height: 100px;
}

.award-image-size {
  object-fit: scale-down;
  width: 89px;
}
.award-name {
  text-align: center;
}

.award-name p {
  font-size: 13px;
}

.press h6 {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
