.avail-stay-info {
  background-color: #e7e6e2;
  border: 1px solid #baa382;
  margin: 20px 0px;
  padding: 20px;
  max-width: 410px;
  font-size: 16px;
}

.avail-stay-title {
  font-size: 21px;
  margin: 0px 0px 10px 0px;
  color: #173f35;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.avail-stay-check-time {
  padding-bottom: 15px;
  border-bottom: 1px solid #baa382;
  display: flex;
}

.avail-stay-check-time > div > p {
  color: #173f35;
}

.stay-check-time-title {
  color: #173f35;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin: 0px;
}

.avail-stay-check-time > div {
  padding-right: 15px;
}

.avail-stay-date {
  margin-top: 10px;
  color: #173f35;
}

.avail-stay-guest {
  color: #173f35;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #baa382;
}

.reservation-item-container {
  border-bottom: 1px solid #baa382;
}

.reservation-item {
  display: flex;
  color: #173f35;
  justify-content: space-between;
}

.reservation-item-suite {
  text-decoration: underline;
  color: #3b2e0a;
}

.reservation-item-suite-type {
  text-transform: uppercase;
}

.reservation-item-offer {
  margin-bottom: 10px;
}

.reservation-item-left {
  width: 70%;
}

.reservation-item-tax {
  margin-bottom: 10px;
}

.reservation-item-right {
  font-weight: bold;
}

.reservation-item-nights-button {
  text-decoration: underline;
  color: #baa382;
  font-size: 13.5px;
  margin-bottom: 10px;
}

.avail-stay-total-fee {
  font-size: 20px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #173f35;
}

.avail-stay-total-fee-right {
  display: flex;
  flex-direction: column;
}

.avail-stay-total-fee-tax-stat {
  font-size: 13.5px;
  color: #baa382;
}
