@font-face {
  font-family: Reforma_1969;
  src: url(./assets/fonts/reforma.1969-gris.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Niramit ExtraLight Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Niramit ExtraLight Regular"),
    url(./assets/fonts/Niramit-ExtraLight.woff) format("woff");
}

body {
  margin: auto;
  font-family: Niramit ExtraLight Regular, "AXtManalBold Regular", Helvetica,
    Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", sans-serif;
  background-color: #e7e6e2;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
    Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
    sans-serif;
}

hr {
  max-width: 1330px;
  border-color: #e7e6e2;
  border-top: none;
  margin: 0;
}

.nav-bar-1 ul li > a {
  font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
    Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
    sans-serif;
  text-decoration: none;
  color: black;
}

h2 {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}

h6 {
  color: #b9bcb3;
  letter-spacing: 2px;
  margin-bottom: 22.5px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 0px;
}

p {
  font-family: Niramit ExtraLight Regular, "AXtManalBold Regular", Helvetica,
    Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 0px;
  font-weight: 400;
}

.button-area {
  text-align: center;
  margin: 25px 0px;
}

@media (min-width: 960px) {
  .button-area {
    text-align: start;
  }
}

.box-btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(8, 43, 38);
  border-radius: 0px;
  border: 1px solid rgb(186, 163, 130);
  font-size: 1rem;
  background-color: transparent;
  padding: 10.5px 31.5px;
  color: rgb(186, 163, 130);
  font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
    Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
    sans-serif;
  width: 100%;
}
.box-btn:hover {
  border-color: rgb(186, 163, 130);
  background-color: rgb(186, 163, 130);
  color: rgb(255, 255, 255);
}

@media (min-width: 960px) {
  .box-btn {
    width: 230px;
  }
}

.hero-section {
  position: relative;
}

.nav-top {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.nav-bar-1 {
  display: flex;
  justify-content: center;
}

.nav-bar-1 ul {
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-bar-1 li {
  /* margin: 1rem 2rem; */
  padding: 0.7rem 1.7rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

#logo {
  margin-right: 10rem;
}

.icon-logo {
  width: 2.2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.arrow-icon {
  display: flex;
}

.nav-bar-1 .arrow-icon span {
  display: flex;
  width: auto;
  margin-left: 5px;
  color: black;
}

.bookNowButton {
  background-color: #baa382;
  color: white;
}

.heroView {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  min-height: 800px;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.heroFrame {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.heroFrame img {
  position: absolute;
  top: 0;
  z-index: 1;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.heroText {
  z-index: 11;
  text-align: center;
}

.heroText h1,
.heroText p {
  margin: 0 5rem;
  font-size: 3rem;
  letter-spacing: 0.75rem;
}

.heroText p {
  margin-top: 30px;
  font-size: 1.3333rem;
  letter-spacing: normal;
}

.nav-bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-bar-2 {
  margin: auto;
  padding: 0 20px;
  max-width: 1455px;
}

.nav-bottom ul {
  display: flex;
  margin: auto;
  list-style: none;
  color: white;
}

.nav-bottom li {
  font-family: Niramit ExtraLight Regular, "AXtManalBold Regular", Helvetica,
    Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", sans-serif;
  margin: 0.7rem 0rem;
  font-size: 0.9rem;
}

.nav-bar-2 .arrow-icon span {
  display: flex;
  width: auto;
  margin-left: 5px;
  width: 15px;
  margin: 0 0.5rem;
  color: white;
  transform: rotate(-90deg);
}

.desc-banner-wrapper {
  background-color: #e7e6e2;
  padding: 50px 0px;
  margin: 0px auto;
}
@media (min-width: 960px) {
  .desc-banner-wrapper {
    padding: 50px 80px;
  }
}

.banner-container {
  display: flex;
  flex-direction: column-reverse;
  /* flex-direction: row-reverse; */
  /* align-items: center; */
  /* justify-content: center; */
  max-width: 1330px;
  /* margin: auto 6.5rem; */
  margin: 0 auto;
}

@media (min-width: 960px) {
  .banner-container {
    flex-direction: row;
  }
}

.photo-container {
  display: flex;
  min-height: 490px;
  width: 100%;
  margin: auto;
}

@media (min-width: 960px) {
  .photo-container {
    width: 62%;
  }
}

.desc-container {
  width: 100%;
  margin-top: 60px;
  padding: 15px 30px;
  /* padding-right: 75px;
    padding-top: 55px; */
}
@media (min-width: 960px) {
  .desc-container {
    width: 38%;
  }
}

.desc-p {
  margin-top: 32.8125px;
  padding-left: 45px;
  padding-right: 70px;
}

.desc-container h2 {
  font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
    Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
    sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 5px;
  margin: 0px;
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white;
}

.comparison-slider {
  position: relative;
  width: 100%;
  margin: 0;
  height: 490px;
  overflow: hidden;
  box-sizing: border-box;
}

.comparison-slider > img {
  margin: auto;
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  inset: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.comparison-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.comparison-slider .resize img {
  position: absolute;
  margin: auto;
  display: block;
  object-fit: cover;
  inset: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 517px;
  max-height: 517px;
}

.divider {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.2);
  left: 70%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
}

.divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -7px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}

.divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -3px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}

.divider.draggable:before {
  width: 30px;
  height: 30px;
  left: -12px;
  margin-top: -15px;
}

.divider.draggable:after {
  width: 20px;
  height: 20px;
  left: -7px;
  margin-top: -10px;
  background-color: #555;
}

.info-section-wrapper {
  background-color: white;
  width: 100%;
}

.info-background {
  background-color: white;
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 30px;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

.info-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 960px) {
  .info-first-row {
    flex-wrap: nowrap;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: auto;
  }
}

.fac-icon {
  width: 30px;
  height: 30px;
}

.travel-rating {
  min-width: 220px;
  flex-grow: 1;
  width: 100%;
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
}

@media (min-width: 960px) {
  .travel-rating {
    padding: 0px 30px;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
    max-width: 50%;
  }
}

.trip-advisor {
  width: 115px;
  height: 24px;
}

.address-col {
  min-width: 150px;
  flex-grow: 1;
  width: 100%;
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
}
@media (min-width: 960px) {
  .address-col {
    padding: 0px 30px;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
  }
}
.address {
  width: 120px;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.address-btn {
  font-family: Niramit ExtraLight Regular, "AXtManalBold Regular", Helvetica,
    Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", sans-serif;
  padding: 6px 8px;
  border: none;
  text-transform: none;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid #baa382;
}

.extra-details-col {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  flex-grow: 1;
  width: 100%;
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
}
@media (min-width: 960px) {
  .extra-details-col {
    padding: 0px 30px;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
  }
}

.extra-details {
  display: flex;
  padding: 0px 15px;
}
.time {
  display: flex;
  flex-direction: column;
}

.fac-container {
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
  min-width: 350px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .fac-container {
    padding: 0px 30px;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
  }
}

.facilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fac-info-container {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  font-family: Niramit ExtraLight Regular, "AXtManalBold Regular", Helvetica,
    Arial, "Microsoft Yahei", "PingFang SC", "PingFang TC", "PingFang HK",
    "Hiragino Sans", sans-serif;
  padding-left: 9px;
  padding-top: 9px;
}

.social-col {
  display: flex;
  padding: 30px 15px;
  flex-grow: 1;
  width: 100%;
}
@media (min-width: 960px) {
  .social-col {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
  }
}

.info-second-row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .info-second-row {
    flex-wrap: nowrap;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: auto;
  }
}

.award-col {
  padding: 30px 15px;
  border-bottom: 1px solid #e7e6e2;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 960px) {
  .award-col {
    padding: 0px 30px;
    border-right: 1px solid #e7e6e2;
    border-bottom: none;
    width: initial;
    max-width: 50%;
  }
}

.award-container {
  display: flex;
  align-items: flex-start;
}

.award-list {
  max-width: 150px;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.award-image {
  max-width: 100%;
  height: 100px;
}

.award-image-size {
  object-fit: scale-down;
  width: 89px;
}
.award-name {
  text-align: center;
}

.press-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 15px;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 960px) {
  .press-col {
    padding: 0px 30px;
    max-width: 50%;
  }
}

.press-list {
  display: flex;
}

.press {
  max-width: 150px;
  text-align: center;
}

.press h6 {
  color: #000;
}

.connect-banner-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  object-fit: cover;
  overflow: hidden;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.connect-background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  inset: 0px;
  transform: translateY(-8px) scale(1.3875);
}

.connect-background img {
  position: absolute;
  inset: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;

  transform: translateY(-42px) scale(1.3875);
}

.connect-banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
}

.connect-banner-container {
  z-index: 1;
  color: white;
  width: 100%;
  max-width: 960px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.connect-banner-container h2 {
  margin: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 15px;
}

.connect-banner-container p {
  margin: auto;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 15px;
  font-weight: 400;
}

.chat-btn {
  display: inline-flex;
  font-family: Reforma_1969, AXtManalBold Regular, Helvetica, Arial,
    Microsoft Yahei, PingFang SC, PingFang TC, PingFang HK, Hiragino Sans,
    sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  padding: 10px 30px;
  text-transform: uppercase;
  border-color: white;
  border: 1px solid;
}

.feature-card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 18px 30px;
}

.card-frame {
  margin: auto;
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.feature-card-wrapper:nth-child(odd) > .card-frame {
  flex-direction: row-reverse;
}

.card-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-right: 75px;
  margin-bottom: 22.5px;
}

.feature-card-wrapper:nth-child(odd) > .card-frame > .card-left {
  padding-right: 0;
  padding-left: 75px;
}

.card-left h2 {
  margin: auto;
  font-size: 1.7rem;
  letter-spacing: 5px;
}

.card-p {
  margin-top: 32.8125px;
  padding-left: 45px;
}

.card-p p {
  font-size: 15px;
  line-height: 1.4;
}

.card-left span {
  margin-top: 65px;
  background-color: #baa382;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 50px;
}

.card-right {
  position: relative;
  width: 67%;
  overflow: hidden;
  inset: 0px;
  min-height: 500px;
  /* max-height: 500px; */
  /* top: 0;
  left: 0; */
  z-index: 1;
}

.card-right img {
  position: absolute;
  inset: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.intro-wrapper {
  background-color: #e7e6e2;
  padding: 3rem 0rem;
}

.intro-desc {
  text-align: center;
  padding: 0px 30px;
  margin: 0 auto;
}
.intro-desc-para {
  font-size: 15px;
}

@media (min-width: 960px) {
  .intro-desc {
    padding: 0px 2rem;
    max-width: 960px;
  }
}

.dining-list-wrapper {
  background-color: #e7e6e2;
  padding: 3rem 0rem;
}

@media (min-width: 960px) {
  .dining-list-wrapper {
    padding: 60px 30px;
  }
}

.dining-list-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  overflow-y: auto;
}

@media (min-width: 960px) {
  .dining-list-container {
    flex-direction: column;
    align-items: center;
    overflow-y: initial;
  }
}

.dining-card-container {
  margin: 30px;
  background-color: #fff;
  min-width: 325px;
  max-width: 325px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .dining-card-container {
    min-width: 100%;
    max-width: 100%;
    flex-direction: row;
  }

  .dining-card-container:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 960px) {
  .dining-photo-container {
    min-width: 50%;
    max-width: 50%;
    height: initial;
    flex-grow: 1;
    overflow: hidden;
  }
}

.dining-photo {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.dining-info {
  padding: 15px;
}

@media (min-width: 960px) {
  .dining-info {
    width: 50%;
    padding: 30px;
  }
}

.dining-title {
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0px;
}

.dining-desc {
  margin: 15px 0px;
}

.dining-card-rows {
  display: flex;
  flex-direction: column;
}
@media (min-width: 960px) {
  .dining-card-rows {
    padding: 30px 0px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.dining-card-row {
  display: flex;
}

@media (min-width: 960px) {
  .dining-card-row {
    width: 50%;
  }
}

.offers-wrapper {
  background-color: #e7e6e2;
}

@media (min-width: 1300px) {
  .offers-wrapper {
    margin: 0 auto;
  }
}

.carousel-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (min-width: 1300px) {
  .carousel-container {
    display: flex;
  }
}
.carousel-container .swiper {
  width: 1450px;
  margin: 15px 0px;
}

.carousel-row-container {
  margin: 15px;
}

.small-card-wrapper {
  max-width: 1300px;
}
.small-card-container {
  display: flex;
  overflow-y: auto;
  background-color: white;
  margin-bottom: 50px;
}
@media (min-width: 1300px) {
  .small-card-container {
    display: none;
  }
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.offer-card {
  max-width: 266px;
  min-width: 266px;
  padding: 15px;
  margin: 15px;
  display: grid;
  flex-direction: column;
  background-color: #fff;
}

@media (min-width: 1300px) {
  .offer-card {
    max-width: 396px;
    min-width: 396px;
    min-height: 800px;
    margin: 40px;
  }
}
.offer-image-container {
  width: 100%;
  height: 335px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1300px) {
  .offer-image-container {
    height: 512px;
  }
}

.offer-image {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.offer-desc {
  text-align: left;
}

.read-more-btn-area {
  text-align: start;
  align-self: end;
}

.inverse-btn {
  color: #fff;
  background-color: #baa382;
}
.inverse-btn:hover {
  color: #baa382;
  background-color: #fff;
}

.conditions-wrapper {
  margin: 0 auto;
  background-color: #e7e6e2;
  display: flex;
  justify-content: center;
}

.condition-container {
  padding: 25px;
  background-color: #fff;
  max-width: 1400px;
}
